//===== FINANCES =====

//Remember to @include mixin in style.scss
@mixin financials {
	#financials {
		.column.hide-from-md {
			padding-top: 20px;
			width: 46.5%;
			
			@media (max-width: 550px) {
				width: 100%;
			}
		}
		.restack {
			@media (max-width: 550px) {
				display:block;
			}
		}
	}
}